In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

In [2]:
data= pd.read_csv("Position_salaries.csv")

In [3]:
data.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [4]:
a= pd.get_dummies(data['Position'],drop_first=True)
a

,C-level,CEO,Country Manager,Junior Consultant,Manager,Partner,Region Manager,Senior Consultant,Senior Partner
0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0
3,0,0,0,0,1,0,0,0,0
4,0,0,1,0,0,0,0,0,0
5,0,0,0,0,0,0,1,0,0
6,0,0,0,0,0,1,0,0,0
7,0,0,0,0,0,0,0,0,1
8,1,0,0,0,0,0,0,0,0
9,0,1,0,0,0,0,0,0,0

In [10]:
data=pd.concat([a,data],axis=1)
data

,C-level,CEO,Country Manager,Junior Consultant,Manager,Partner,Region Manager,Senior Consultant,Senior Partner,Position,Level,Salary
0,0,0,0,0,0,0,0,0,0,Business Analyst,1,45000
1,0,0,0,1,0,0,0,0,0,Junior Consultant,2,50000
2,0,0,0,0,0,0,0,1,0,Senior Consultant,3,60000
3,0,0,0,0,1,0,0,0,0,Manager,4,80000
4,0,0,1,0,0,0,0,0,0,Country Manager,5,110000
5,0,0,0,0,0,0,1,0,0,Region Manager,6,150000
6,0,0,0,0,0,1,0,0,0,Partner,7,200000
7,0,0,0,0,0,0,0,0,1,Senior Partner,8,300000
8,1,0,0,0,0,0,0,0,0,C-level,9,500000
9,0,1,0,0,0,0,0,0,0,CEO,10,1000000

In [11]:
data=data.drop(['Position'],axis=1)
data

,C-level,CEO,Country Manager,Junior Consultant,Manager,Partner,Region Manager,Senior Consultant,Senior Partner,Level,Salary
0,0,0,0,0,0,0,0,0,0,1,45000
1,0,0,0,1,0,0,0,0,0,2,50000
2,0,0,0,0,0,0,0,1,0,3,60000
3,0,0,0,0,1,0,0,0,0,4,80000
4,0,0,1,0,0,0,0,0,0,5,110000
5,0,0,0,0,0,0,1,0,0,6,150000
6,0,0,0,0,0,1,0,0,0,7,200000
7,0,0,0,0,0,0,0,0,1,8,300000
8,1,0,0,0,0,0,0,0,0,9,500000
9,0,1,0,0,0,0,0,0,0,10,1000000

In [15]:
x=data.iloc[ : ,:-1]
y=data.iloc[:,-1:]

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [ ]:
x_train.head()

In [ ]:
y_train.head()

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [20]:
y_train_pred = model.predict(x_train)
y_train_pred

array([[200000.],
       [110000.],
       [ 45000.],
       [ 80000.],
       [ 50000.],
       [300000.],
       [500000.],
       [150000.]])

In [21]:
from sklearn.metrics import r2_score

In [22]:
print(r2_score(y_train,y_train_pred))

1.0

In [ ]:
#This was closed here as converting into numeric data from catagorical data will consume most of the time

In [ ]:
data=pd.read_csv("Salary_data.csv")

In [ ]:
data

In [ ]:
X=data[['YearsExperience']]
X.head()

In [ ]:
y=data['Salary']
y

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=22)

In [ ]:
len(X_train)

In [ ]:
len(y_train)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model=LinearRegression()
model.fit(X_train,y_train)

In [ ]:
model.coef_

In [ ]:

model.intercept_

In [ ]:
##Predictions

In [ ]:
y_train_pred = model.predict(X_train)

In [ ]:
y_train_pred

In [ ]:
X_train_1=X_train.flatten()
X_train_1

In [ ]:
Training_data_Comparison=pd.DataFrame({'X_train':X_train_1,'y_train_actual':y_train,'y_train_predictions':y_train_pred})
Training_data_Comparison

In [ ]:
plt.title('SLR')
plt.xlabel('X_train')
plt.ylabel('y_train')
plt.scatter(X_train, y_train , color = 'r' , marker='*')
plt.plot(X_train , y_train_pred,color = 'b' , marker = 'o')
plt.show

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
print('Model Accuracy is',r2_score(y_train,y_train_pred),', Which is a great one.')